<style>
	footer {
	    background-color: #222;
	    color: #fff;
	    font-size: 16px;
	    bottom: 0;
	    position: relative;
			padding: 10px;
	    text-align: center;
	    z-index: 999;
	}

	footer p {
	    margin: 10px 0;
	}

	footer i {
	    color: red;
	}

	footer a {
	    color: #3c97bf;
	    text-decoration: none;
	}
</style>
<footer>
	<p>
		Developed by <i class="fas fa-heart"></i>
		<a target="_blank" href="https://github.com/kamrul97-9">Kamrul Islam</a>
	</p>
</footer>

</body>
</html>
