<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="css/home.css">
<style>
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #11698e;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 10px;
  text-decoration: none;
}

.mediTeam_image{
}

ul.topnav li a:hover:not(.active) {background-color: #6f9eaf;}

ul.topnav li a.active {background-color: #f38181;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
</style>
</head>
<body>

<ul class="topnav">
  <li><a class="active">MediTeam</a></li>
    <!-- <img class="rounded-circle" src="logo/medical_2.jpg" alt="mediTeam logo" height="30" width="30"> -->

  <li><a href="#">Hello Doctors</a></li>
  <li class="right"><a href="/logout"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
</ul>
