<%- include('partials/navbar'); -%>

<div class="container">
    <div class="logo">
      <img class="rounded-circle" src="logo/medical-logo.jpg" alt="MediTeam" height="250" width="250">
    </div>
    <section class="first">
      <h3>Patiens Details</h3>
          <ul class="list-group">
              <li class="list-group-item active">Name: Kamrul Islam Hridoy</li>
              <li class="list-group-item list-group-item-info">Email: kamrul@gmail.com </li>
              <li class="list-group-item list-group-item-warning">Age: 23</li>
              <li class="list-group-item list-group-item-success">Address: Nurpur, Jatrabari, Dhaka</li>
          </ul>
    </section>
    <section class="second">
      <div class="row">
        <div class="col-md-6">
          <img class="rounded-circle" src="logo/heartrate.jpg" alt="heartrate" height="110" width="110">
          <p class="fp">Heart Rate</p>
        </div>
        <div class="col-md-6">
          <img class="rounded-circle" src="logo/icon.png" alt="thermometer" height="120" width="120">
          <p>Body Temperature</p>
        </div>
      </div>
    </section>
</div>

<%- include('partials/footer'); -%>
