<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mediteam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    html,
    body {
      height: 100%;
    }
    body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      background-color: #333333;
      color: #fff;
    }
    .container{
      text-align: center;
      width: 100%;
      max-width: 650px;
      padding: 15px;
    }
    .title{
      font-family: monospace;
      font-size: 3em;
    }
    .lead{
      font-family: sans-serif;
    }
</style>
  <body>
    <div class="container">
      <h1 class="title">Welcome to MediTeam</h1>
      <p class="lead">A document issued by a mediTeam. It is working to reach out to people for
        the purpose of human medical services</p>
        <a href="/register" class="btn btn-lg btn-outline-info">start your journey</a>
    </div>
  </body>
</html>
