.container{
  padding: 0 2em;
  text-align: center;
}
.logo{
  margin: 5px 10px;
}
.list-group{
  font-size: 24px;
  /* display: flex;
  justify-content:space-evenly; */
}
.second{
  margin-top: 5rem;
}
/* .second .fp{
  margin-top: 3px;
} */

.value{
  font-size: 45px;
}
